﻿@using ProjectManagement.Helper
@using Model;
@model Model.Page
@{
    ViewBag.Title = Model.Name;
    ViewBag.Description = Model.Description;
    ViewBag.Keyword = Model.Keyword;
    ProjectManagementEntities entities = new ProjectManagementEntities();

}
<link href="/Theme/style/frontend/theme/default/css/custom_2.css" rel="stylesheet" />

<div class="breadcrumb_wpr">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 breadcrumb">
        <div itemscope=itemscope itemtype="http://data-vocabulary.org/Breadcrumb">

            <a class="home_link" title="Phụ tùng xe máy" href="/" itemprop="url">			
            <span itemprop="title">Phụ tùng xe máy</span>	</a>
            <span class="arrow">›</span>
            <div itemprop="child" itemscope=itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a title="@Model" href="/trang/@Model.Id/@Model.UrlCode" itemprop="url">

                    <span itemprop="title">@Model.Name</span>
                </a>
            </div>
        </div>
    </div>
    <div class="clearFix"></div>
</div>			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct">
    <div class="col-lg-3 col-md-4 col-sm-12 col-sm-12 main-menu">
        <div class="header-main-menu"><i class="fa fa-bars"></i>Danh mục sản phẩm</div>
        <ul class="main_menu_dropdown">
            @{
                var listCategories = entities.Categories.Where(o => o.Active == true && o.Parent == 0).OrderBy(o => o.OrderDisplay).ToList();
                foreach (var item in listCategories)
                {
                    var listSubCategories = entities.Categories.Where(o => o.Parent == item.Id && o.Active == true && o.StatusId == 0).OrderBy(o => o.OrderDisplay).ToList();
                    <li class="hadsub-menu">
                        <a class="menu-link" href="/danh-muc/@item.Id/@item.UrlCode" title="@item.Name">
                            <i style="background:url('@item.Thumb') no-repeat; padding: 15px;margin-right: 5px;float: left;"></i><h2>@item.Name</h2> <i class="fa fa-angle-right"></i>
                        </a>
                        <span>
                            @item.Description
                        </span>
                        @{
                            if (listSubCategories.Count > 0)
                            {
                                <ul class="submenu-lv1">
                                    @{
                                        foreach (var subItem in listSubCategories)
                                        {
                                            <li>
                                                <a href="/danh-muc/@subItem.Id/@subItem.UrlCode" title="@subItem.Name">@subItem.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                                        }
                        }
                    </li>
                                        }
            }

        </ul>
    </div>
    <div class="col-lg-12 col-md-12 content checkout-success contact-page">

        <div class="main-content-box news-detail">
            <h1>@Model.Name</h1>
            <div class="news-detail-content">
                @Html.Raw(Model.Content)
            </div>
        </div>


    </div>

</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-right-ct">
    <div class="suport-box">
        @Html.Raw(ResourceHelper.GetResourceByKey("RightBoxInfoHome"))
    </div>
</div>
@section _scripts{
    <script src="/Theme/javascript/tmd/none_index.js"></script>
}
