﻿@{
    ViewBag.Title = "Danh mục loại sản phẩm";
}

<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-b-30">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="categoryController.currentCategory=0;categoryController.showFormAddNew()">Thêm <i class="fa fa-plus"></i></button>
                                        <button name="add-new" class="tiny-button" style="display:none;" data-toggle="modal" data-target="#con-close-modal">&nbsp; <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-responsive">
                                <table class="table table-striped" id="datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>Tên danh mục</th>
                                            <th>Thumb ảnh</th>
                                            <th>Mô tả</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.Categories != null && ViewBag.Categories.Count > 0)
                                            {
                                                foreach (var item in ViewBag.Categories as List<Model.Category>)
                                                {
                                                    <tr class="gradeX">
                                                        <td>
                                                            <a href="/admin/category/subcategory/@item.Id">@item.Name</a> 
                                                        </td>
                                                        <td>
                                                            <img src="@item.Thumb" style="max-height:128px" />
                                                        </td>
                                                        <td>
                                                            @item.Description
                                                        </td>

                                                        <td>
                                                            @if (item.Active)
                                                            {
                                                                <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                                            }
                                                        </td>
                                                        <td class="actions">
                                                            <a href="javascript:void(0)" onclick="categoryController.currentCategory=@item.Id; categoryController.showFormAddNew();" class="on-default font-size-18"><i class="fa fa-pencil"></i></a>
                                                            <a href="javascript:void(0)" onclick="categoryController.currentCategory=@item.Id;" data-toggle="modal" data-target="#delete-modal"  class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: panel body -->
                    </div> <!-- end panel -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
    @Html.Partial("Footer")
</div>
<!-- MODAL -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn hệ thống xóa danh mục này và toàn bộ danh mục con?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="categoryController.deleteCategory()">Xóa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end Modal -->

@section scripts{
    <!-- Editable js -->
    <script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <!-- init -->
    <script src="~/assets/js/controller/categoryController.js"></script>
}

