﻿@model PagedList.IPagedList<ProjectManagement.Models.ProductModel>
@using PagedList.Mvc;
@using Model;
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
    var currentCategory = ViewBag.Category as Category;
    var parentCategory = entities.Categories.FirstOrDefault(o => o.Id == currentCategory.Parent);
    if (parentCategory == null)
    {
        parentCategory = currentCategory;
    }
}
<link href="/Theme/style/frontend/theme/default/css/custom_2.css" rel="stylesheet" />
<link href="/Theme/style/frontend/theme/default/css/custom_3.css" rel="stylesheet" />

<div class="breadcrumb_wpr">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 breadcrumb">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a class="home_link" title="Phụ tùng xe máy" href="/" itemprop="url">
              <i class="fa fa-home"></i>  <span itemprop="title">Phụ tùng xe máy</span>
            </a><span class="arrow">›</span>
            <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                @{
                    if (parentCategory != null)
                    {
                        <a title="@parentCategory.Name" href="/danh-muc/@parentCategory.Id/@parentCategory.UrlCode" itemprop="url">
                            <span itemprop="title">@parentCategory.Name</span>
                        </a><span class="arrow">›</span>
                    }
                }
                <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a title="@currentCategory.Name" href="/danh-muc/@currentCategory.Id/@currentCategory.UrlCode" itemprop="url">
                        <span itemprop="title">@currentCategory.Name</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearFix"></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-right-ct">
    <div class="nav-side-menu">
        <div class="brand"><i class="fa fa-bars"></i> Danh mục sản phẩm</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                @{
                    var listCate = entities.Categories.Where(o => o.Active == true && o.Parent == 0).ToList();
                    foreach (var item in listCate)
                    {
                        <li data-toggle="collapse" data-target="#@item.UrlCode" class="collapsed @string.Format("{0}",item.Id==parentCategory.Id?"active":"")" aria-expanded="@string.Format("{0}",item.Id==parentCategory.Id?"true":"false")">
                            <a href="#"><img src="@item.Thumb" /> @item.Name <span class="arrow"></span></a>
                            @{
                                var subCate = entities.Categories.Where(o => o.Parent == item.Id && o.Active == true).ToList();
                                if (subCate.Count > 0)
                                {
                                    <ul class="sub-menu collapse @string.Format("{0}",item.Id==parentCategory.Id?"in":"")" id="@item.UrlCode" aria-expanded="@string.Format("{0}",item.Id==parentCategory.Id?"true":"false")">
                                        @{
                                            foreach (var sub in subCate)
                                            {
                                                <li class="@string.Format("{0}", sub.Id == currentCategory.Id ? "active" : "")">
                                        <a href="/danh-muc/@sub.Id/@sub.UrlCode">@sub.Name</a>
                                                
                                                </li>
                                            }
                                        }
                                    </ul>
                                            }
                            }    
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="row clearfix">
            <div id="fb-root"></div>
            <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/Kawasaki-61078506179/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Kawasaki-61078506179/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Kawasaki-61078506179/">Kawasaki</a></blockquote></div>
        </div>

    </div>
    
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct">
    <div class="col-lg-12 col-md-12 content">
        <div class="sub-menu-list">
        </div>

        <div class="main-content-box content catalog-page">
            <h1>@currentCategory.Name</h1>
            <span class="counter-prods">Có @ViewBag.TotalProduct sản phẩm</span>
            <div class="sort_mode">

            </div>
            <div class="items-list-prod">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 items">
                        <div class="img-prod">
                            <a href="/san-pham/@item.Id/@item.UrlCode" title="@item.Name">
                                <img src="@item.Thumb" alt="@item.Name" />
                            </a>
                        </div>
                        <div class="title-prod"><a href="/san-pham/@item.Id/@item.UrlCode" title="@item.Name">@item.Name</a></div>
                        <div class="price-prod">
                            <div class="price-new-prod">@string.Format("{0:#,###}", item.Price) đ</div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                }
            </div>

            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>

    </div>
</div>
