﻿@using Model;
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
    var currentCategory = ViewBag.Category as Category;
    var parentCategory = entities.Categories.FirstOrDefault(o => o.Id == currentCategory.Parent);
    if (parentCategory == null)
    {
        parentCategory = currentCategory;
    }
}
@model ProjectManagement.Models.ProductModel

<link href="/Theme/style/frontend/theme/default/css/custom_2.css" rel="stylesheet" />
<link href="/Theme/style/frontend/theme/default/css/custom_3.css" rel="stylesheet" />
<div class="breadcrumb_wpr">
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 breadcrumb">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a class="home_link" title="Phụ tùng xe máy" href="/" itemprop="url">
                <span itemprop="title">Phụ tùng xe máy</span>
            </a>
            <span class="arrow">›</span>
            <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                @{
                    if (parentCategory != null)
                    {
                        <a title="@parentCategory.Name" href="/danh-muc/@parentCategory.Id/@parentCategory.UrlCode" itemprop="url">
                            <span itemprop="title">@parentCategory.Name</span>
                        </a><span class="arrow">›</span>
                    }
                }
                <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a title="@currentCategory.Name" href="/danh-muc/@currentCategory.Id/@currentCategory.UrlCode" itemprop="url">
                        <span itemprop="title">@currentCategory.Name</span>
                    </a><span class="arrow">›</span>
                    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a title="@Model.Name" href="/san-pham/@Model.Id/@Model.UrlCode" itemprop="url">
                            <span itemprop="title">@Model.Name</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearFix"></div>
</div>          
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-right-ct">
    <div class="nav-side-menu">
        <div class="brand"><i class="fa fa-bars"></i> Danh mục sản phẩm</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                @{
                    var listCate = entities.Categories.Where(o => o.Active == true && o.Parent == 0).ToList();
                    foreach (var item in listCate)
                    {
                        <li data-toggle="collapse" data-target="#@item.UrlCode" class="collapsed @string.Format("{0}",item.Id==parentCategory.Id?"active":"")" aria-expanded="@string.Format("{0}",item.Id==parentCategory.Id?"true":"false")">
                            <a href="#"><img src="@item.Thumb" /> @item.Name <span class="arrow"></span></a>
                            @{
                                var subCate = entities.Categories.Where(o => o.Parent == item.Id && o.Active == true).ToList();
                                if (subCate.Count > 0)
                                {
                                    <ul class="sub-menu collapse @string.Format("{0}",item.Id==parentCategory.Id?"in":"")" id="@item.UrlCode" aria-expanded="@string.Format("{0}",item.Id==parentCategory.Id?"true":"false")">
                                        @{
                                            foreach (var sub in subCate)
                                            {
                                                <li class="@string.Format("{0}", sub.Id == currentCategory.Id ? "active" : "")">
                                                    <a href="/danh-muc/@sub.Id/@sub.UrlCode">@sub.Name</a>

                                                </li>
                                            }
                                        }
                                    </ul>
                                            }
                            }
                        </li>
                                            }
                }
            </ul>
        </div>

        <div class="row clearfix">
            <div id="fb-root"></div>
            <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/Kawasaki-61078506179/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Kawasaki-61078506179/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Kawasaki-61078506179/">Kawasaki</a></blockquote></div>
        </div>

    </div>
</div>

  
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct">
    <div class="col-lg-12 col-md-12 content">
        <div class="top-detail">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 slide-detail">
                @{
                    var galleries = entities.ProductGalleries.Where(o => o.ProductId == Model.Id).ToList();
                }
                <div class="picZoomer">
                    @{
                        foreach (var item in galleries)
                        {
                            <img src="@item.Thumb.Replace("\\","/")" alt="@item.Title" width="330px" height="330px" />
                        }
                    }
                </div>
                <ul class="piclist thumbnails-carousel clearfix">

                    @{
                        foreach (var item in galleries)
                        {
                            <li><img src="@item.Thumb.Replace("\\","/")" alt="@item.Title"></li>
                        }
                    }

                </ul>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 right-detail">
                <h1>@Model.Name</h1>
                <div class="description-detail">
                    @Html.Raw(Model.Detail)
                </div>
                <div class="info-detail">
                    <div class="price">
                        Giá: <span>@string.Format("{0:#,###}", Model.Price) đ</span>
                        <span class="pro_unit">Đơn vị: @Model.Unit</span>
                    </div>
                    <div class="buy-btn">
                        <button rel="550" class="btn btn-danger btn-lg buy-btn-detail" id="addToCart" onclick="window.location.href='lien-he'">LIÊN HỆ MUA</button>
                    </div>
                    <div class="like-btn">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5004c8b6595cd35d"></script>
                        <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox_j6v0">
                        </div>
                    </div>
                    <div class="clearFix"></div>
                </div>
            </div>
        </div>
        <div class="main-content-box content-pages">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="tab-detail" role="tablist">
                <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab"><h3>Thông tin chi tiết</h3></a></li>
                <li role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab"><h3>Nhận xét</h3></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="detail">
                    <div class="items-list-prod content-detail">
                        @Html.Raw(Model.Detail)
                        <h4>Hệ thống cửa hàng:</h4>
                        @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("ShopAddress"))
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="comment">
                    <div class="items-list-prod content-detail">
                        <div id="fb-root"></div>
                        <script>
                                    (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=600804230054080";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-comments" data-href="https://www.facebook.com/Kawasaki-61078506179/" data-width="800" data-numposts="5"></div>
                      </div>
            </div>

        </div>
        <!-- begin main-content-box 01 -->
    </div>
    <div class="main-content-box" style="clear:both">
        <h2 style="margin-left: 15px;">Sản phẩm cùng loại</h2> <div class="view-more"><a href="/danh-muc/@currentCategory.Id/@currentCategory.UrlCode">Xem tất cả »</a></div>


        <div class="items-list-prod" style="margin-left: 15px;">
            @{
                var listOther = entities.Products.Where(o => o.Active == true && o.CategoryId == Model.CategoryId && o.Id != Model.Id).Take(6).ToList();
                foreach (var item in listOther)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 items">
                        <div class="img-prod">
                            <a href="/san-pham/@item.Id/@item.UrlCode" title="@item.Name"><img src="@item.Thumb" alt="@item.Name" /></a>
                        </div>
                        <div class="title-prod">
                            <a href="/san-pham/@item.Id/@item.UrlCode" title="@item.Name">@item.Name</a>
                        </div>
                        <div class="price-prod">
                            <div class="price-new-prod">@string.Format("{0:#,###}", item.Price) đ</div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>
