﻿@model ProjectManagement.Models.PositionModel
@{
    ViewBag.Title = Model.Id > 0 ? "Cập nhật" : "Thêm chức vụ/vai trò";
}
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
       @using (Ajax.BeginForm("createoreditrole", null, new AjaxOptions { HttpMethod = "POST" }, new { @id = "create", @class = "frm-create" }))
       {
            @*<form action="/member/createoreditrole" method="post">*@
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Tên chức vụ</label>
                                <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                @*<input type="text" class="form-control" name="Name" id="Name" placeholder="Tên chức vụ" value="@Model.Name">*@
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Tên chức vụ" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Vai trò</label>
                                <select class="form-control" name="RoleId" id="RoleId">
                                    @{
                                        var listRoles = (List<Model.AspNetRole>)ViewBag.Roles;
                                        foreach (var item in listRoles)
                                        {
                                            <option value="@item.Id" @string.Format("{0}", item.Id.Equals(Model.RoleId) ? "selected" : "")>@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label for="field-7" class="control-label">Thông tin thêm/ghi chú</label>
                                <textarea class="form-control autogrow" id="Description" name="Description" placeholder="Nội dung..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;">@Model.Description</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="roleControler.saveData()">Lưu</button>
                </div>
            </div>
            @*</form>*@
                                        }
    </div>
</div><!-- /.modal -->
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>