﻿<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
<!-- init -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/" class="logo"><span>Admin<span></span></span><i class="zmdi zmdi-layers"></i></a>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Page title -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="button-menu-mobile open-left">
                        <i class="zmdi zmdi-menu"></i>
                    </button>
                </li>
                <li>
                    <h4 class="page-title">@ViewBag.Title</h4>
                </li>
            </ul>

        </div><!-- end container -->
    </div><!-- end navbar -->
</div>

<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                @if (Session["ProfilePicture"] != null && Session["ProfilePicture"].ToString().Length > 0)
                {
                    <img src="@Session["ProfilePicture"].ToString()" alt="user-img" class="img-circle img-thumbnail img-responsive">
                }
                else
                {
                    <img src="~/assets/images/users/no-avatar.jpg" alt="user-img" class="img-circle img-thumbnail img-responsive">
                }
                <div class="user-status online"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">@User.Identity.Name</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="/admin/manage/changepassword" title="Đổi mật khẩu"><i class="ti-settings m-r-5"></i></a>
                </li>
                <li>
                    <a href="/admin/account/logoff" id="log-off-link" title="Đăng xuất"><i class="ti-power-off m-r-5"></i></a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Menu Quản Lý</li>
                <li>
                    <a href="/admin/" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/dashboard") ? "active" : "")"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/admin/account/" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/account") ? "active" : "")"><i class="zmdi zmdi-accounts"></i> <span> Người dùng </span> </a>
                    </li>
                }
                <li class="text-muted menu-title">Tin tức</li>
                <li>
                    <a href="/admin/menu/" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/menu") ? "active" : "")"><i class="zmdi zmdi-assignment-o"></i> <span> Loại bài viết </span> </a>
                </li>
                <li>
                    <a href="/admin/news/" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/news") ? "active" : "")"><i class="zmdi zmdi-assignment"></i> <span> Bài viết </span> </a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <li class="text-muted menu-title">Sản phẩm</li>
                    <li>
                        <a href="/admin/category" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/category") ? "active" : "")"><i class="fa fa-tasks"></i> <span>Loại sản phẩm </span> </a>
                    </li>
                    <li>
                        <a href="/admin/product" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/product") ? "active" : "")"><i class="fa fa-book"></i> <span>Danh sách sản phẩm </span> </a>
                    </li>

                    <li class="text-muted menu-title">Trang tiện tích</li>
                    <li>
                        <a href="/admin/realstructadmin" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/realstructadmin") ? "active" : "")"><i class="fa fa-windows"></i> <span>Công trình thực tế </span> </a>
                    </li>

                    <li>
                        <a href="/admin/video" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/video") ? "active" : "")"><i class="fa fa-file-video-o"></i> <span>Video công trình </span> </a>
                    </li>
                    <li>
                        <a href="/admin/subscribe" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/subscribe") ? "active" : "")"><i class="zmdi zmdi-notifications-active"></i> <span> Tin nhắn liên hệ </span> </a>
                    </li>
                   
                    <li class="text-muted menu-title">Quản lý cấu hình</li>
                    <li>
                        <a href="/admin/pages" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/pages") ? "active" : "")"><i class="zmdi zmdi-google-pages"></i> <span> Trang tĩnh</span> </a>
                    </li>
                    <li>
                        <a href="/admin/gallery" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/gallery") ? "active" : "")"><i class="zmdi zmdi-book-image"></i> <span>Slide/Album ảnh </span> </a>
                    </li>
                    <li>
                        <a href="/admin/file" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/file") ? "active" : "")"><i class="fa fa-file-archive-o"></i> <span>Quản lý file ảnh</span></a>
                    </li>
                    <li>
                        <a href="/admin/resource" class="waves-effect @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/admin/resource") ? "active" : "")"><i class="zmdi zmdi-settings"></i> <span>Thiết lập</span> </a>
                    </li>
                }
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->