﻿ .captcha-style{
     font-size: 25px;
  background: -webkit-linear-gradient(#337ab7, #d73242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  font-style:italic;
  -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
 user-select: none;
  }
 #btn-loadmore{
         background: #C01326!important;
    color: #fff!important;
    font-weight: 400!important;
    font-size: 15px;
    border-radius: 4px;
 }
 .apartment-box .apartment-title{
         border-left: 5px solid #0094ff;
    padding: 5px;
 }
.apartment-box .apartment-title a{
    font-weight:bold;
    line-height:30px;
    text-decoration:none;
}
.apartment-box .apartment-title span{
    font-weight: 400;
    font-size: 14px;
    padding-left: 6px;
    color: #555;
}
.apartment-box a img{
    border-radius: 0px 20px;
} 