﻿@{
    ViewBag.Title = "Quản lý file ảnh";
}

<h2>Index</h2>
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $('.dropify').dropify({
            messages: {
                default: 'Kéo và thả file hoặc click vào đây',
                replace: 'Kéo và thả hoặc click để thay đổi ảnh',
                remove: 'Xóa',
                error: 'Ooops, có lỗi xảy ra trong quá trình xử lý.'
            }
        });
    });
</script>

<div class="content-page">
    <div class="container">
        <div class="row">
            <form action="/admin/file/upload" method="post" id="createoredit" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ProfilePicture" class="control-label">Ảnh</label>
                            <input type="file" name="FileBase" id="FileBase" value="" placeholder="Ảnh" class="dropify">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light" style="float:right;margin-right:10px;" onsubmit="beforeSubmit()">Upload</button>
                </div>
                
            </form>
        </div>
        <div class="row port m-b-20">
            <div class="portfolioContainer" style="position: relative; height: 729.6px;">
            @{
                var allFiles = ViewBag.AllFiles as List<ProjectManagement.Models.FileObject>;
                foreach (var item in allFiles)
                {
                    <div class="col-sm-6 col-lg-3 col-md-4">
                        <div class="gal-detail thumb" style="height: 260px;">
                            <a href="@item.FilePath" class="image-popup" title="Screenshot-1">
                                <img src="@item.FilePath" class="thumb-img" alt="work-thumbnail" style="max-height:180px;">
                            </a>
                            <span style="font-size:13px;">@string.Format("{0}",item.FileName.Length>50 ? item.FileName.Substring(0,50)+"...": item.FileName)</span>
                            <div class="m-b-30">
                                <button style="position: absolute;bottom: 10px;float: right;right: 20px;" data-toggle="modal" data-target="#delete-modal"  class="btn btn-danger waves-effect waves-light"  onclick="fileControler.currentFile='@item.FileName';" >Xóa <i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                }
            }
            </div><!-- end portfoliocontainer-->
        </div>
    </div>
</div>
<script src="~/assets/js/controller/fileController.js"></script>
@section scripts{
<script type="text/javascript" src="/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.image-popup').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-fade',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] 
                }
            });
        });
    </script>
    }

<!-- MODAL -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa file này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="fileControler.deleteFile()">Xóa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
