﻿@model ProjectManagement.Models.GalleryModel
@{
    ViewBag.Title = Model.Id > 0 ? "Cập nhật thông tin" : "Thêm gallery";
}
<link href="~/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/gallery/createoredit" method="post" id="createoredit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Tên</label>
                                <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Mô tả</label>
                                <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Loại gallery</label>
                            <select class="form-control" id="Type" name="Type">
                                <option value="1" @string.Format("{0}", Model.Type==1 ? "selected" : "") >Slide ảnh trang chủ</option>
                                <option value="2" @string.Format("{0}", Model.Type==2 ? "selected" : "")>Ảnh thương hiệu/đối tác</option>
                               @* <option value="3" @string.Format("{0}", Model.Type == 3 ? "selected" : "")>Logo ảnh</option>*@
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Hiển thị</label>
                                <div class="checkbox checkbox-primary checkbox-single">
                                    <input type="checkbox" name="Active" id="Active" @string.Format("{0}", Model.Active ? "checked" : "") value="true" aria-label="Active">
                                    <label>Hiển thị gallery này</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="galleryController.saveData()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /.modal -->
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>
