﻿@using Model;
@model ProjectManagement.Models.SubscribeModel
@{
    ViewBag.Title = "Liên hệ với chúng tôi";
    ProjectManagementEntities entities = new ProjectManagementEntities();

}
<link href="/Theme/style/frontend/theme/default/css/custom_2.css" rel="stylesheet" />
<div class="breadcrumb_wpr">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 breadcrumb">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a class="home_link" title="Phụ tùng xe máy" href="/" itemprop="url">			
            <span itemprop="title">Phụ tùng xe máy</span>		</a><span class="arrow">›</span>	
                <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">		
            <a title="Liên hệ" href="/lien-he" itemprop="url">		
            <span itemprop="title">Liên hệ</span></a></div></div>
    </div>
    <div class="clearFix"></div>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct">
    <div class="col-lg-3 col-md-4 col-sm-12 col-sm-12 main-menu">
        <div class="header-main-menu"><i class="fa fa-bars"></i>Danh mục sản phẩm</div>
        @Html.Partial("_MenuCate")
    </div>
    <div class="col-lg-12 col-md-12 content checkout-success contact-page">

        <div class="main-content-box news-detail">
            <!-- begin main-content-box 01 -->
            <h1>Liên hệ</h1>
            <div class="news-detail-content">
                <!-- 1 -->
                @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("ContactInfo"))
                <div id="map-div" class="form_regular">
                    @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("Map"))
                </div>
                <!-- 2 -->
                <div class="form-contact">
                    <h3><i class="fa fa-pencil"></i>Gửi liên hệ</h3>
                    <div class="form_regular">
                        <form method="post" action="/contact/index" role="form">
                            <div class="col-md-6 ">

                                <div class="form-group">
                                    <label class="info-title" for="exampleInputName">Tên của bạn <span>*</span></label>
                                    <input type="text" class="form-control unicase-form-control text-input" id="Name" name="Name" placeholder="">
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="info-title" for="exampleInputEmail1">Số điện thoại <span>*</span></label>
                                    <input type="tel" class="form-control unicase-form-control text-input" id="Phone" name="Phone" placeholder="">
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="info-title" for="exampleInputEmail1">Địa chỉ email <span>*</span></label>
                                    <input type="email" class="form-control unicase-form-control text-input" id="Email" name="Email" placeholder="">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="info-title" for="exampleInputTitle">Tiêu đề <span>*</span></label>
                                    <input type="text" class="form-control unicase-form-control text-input" id="Subject" name="Subject" placeholder="">
                                    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="info-title" for="exampleInputComments"> Nội dung <span>*</span></label>
                                    <textarea class="form-control unicase-form-control" rows="8" id="Content" name="Content"></textarea>
                                    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12 outer-bottom-small m-t-20">
                                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Gửi thông tin liên hệ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-right-ct">
    <div class="suport-box">
        @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("RightBoxInfoHome"))
    </div>
</div>
@section _scripts{
    <script src="/Theme/javascript/tmd/none_index.js"></script>

    }
