﻿@using Model;
@model Model.News
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<style>
    .tab-content{
        padding-left:6px!important;
            padding: 6px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li class='active'>@Model.Title</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="blog-page">
                <div class="col-md-9">
                    <div class="blog-post wow fadeInUp">
                        <img class="img-responsive" src="@Model.ThumbPic" alt="">
                        <h1>@Model.Title</h1>
                        <span class="date-time">@Model.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm tt")</span>
                        <div class="row" style="text-align:justify;padding:15px;">
                            @Html.Raw(Model.Content)
                        </div>
                        
                    </div>
                  
                    <div class="blog-post-author-details wow fadeInUp">
                        <div class="row">
                            <div class="social-media row" style="margin-left:15px;">
                                <div class="addthis_inline_share_toolbox_0c39"></div>
                                <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5004c8b6595cd35d"></script>
                            </div>
                        </div>
                    </div>
                    <div class="blog-review wow fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("FacebookComment"))
                            </div>
                            
                        </div>
                    </div>					
                </div>
                <div class="col-md-3 sidebar">
                    <div class="sidebar-module-container">
                        <!-- ==============================================CATEGORY============================================== -->
                        @Html.Partial("_CateMenu")
                        <!-- /.sidebar-widget -->
                        <!-- ============================================== CATEGORY : END ============================================== -->
                        @Html.Partial("_NewsTab")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
