﻿@model PagedList.IPagedList<ProjectManagement.Models.NewsModel>
@using PagedList.Mvc;
@using Model;
@{
    ViewBag.Title = "Tin tức";
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<style>
    .pagination {
        float: right;
    }
    .tab-content{
        padding-left:6px!important;
            padding: 6px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li class='active'>Tin tức</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content outer-top-vs" id="top-banner-and-menu">
    <div class="container">
        <div class="row">
            <div class="blog-page">
                <div class="col-md-9">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="blog-post  wow fadeInUp">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="#"><img style="padding: 0px;margin-top: 27px;" class="img-responsive" src="@item.ThumbPic" alt=""></a>
                                    </div>
                                    <div class="col-md-8">
                                        <h1><a href="/tin-tuc/chi-tiet/@item.NewsID/@item.UrlCode">@item.Title</a></h1>
                                        <span class="date-time">@item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm tt")</span>
                                        <p>@string.Format("{0}", item.Summary.Length > 250 ? item.Summary.Substring(0, 250) : item.Summary)</p>
                                        <a href="#" class="btn btn-upper btn-primary read-more">Đọc thêm</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @Html.PagedListPager(Model, page => Url.Action("index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
                <div class="col-md-3 sidebar">
                    <div class="sidebar-module-container">
                        <!-- ==============================================CATEGORY============================================== -->
                        @Html.Partial("_CateMenu")
                        <!-- /.sidebar-widget -->
                        <!-- ============================================== CATEGORY : END ============================================== -->
                        @Html.Partial("_NewsTab")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>