﻿@using ProjectManagement.Helper
@using Model;
@{
    ViewBag.Title = "Trang chủ";
    ProjectManagementEntities entities = new ProjectManagementEntities();

}
<link rel="stylesheet" href="/Theme/flex/css/flexslider.css" type="text/css" media="screen" />

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct" style="padding:1px;">

    <div class="col-lg-3 col-md-4 col-sm-12 col-sm-12 main-menu">
        <div class="header-main-menu"><i class="fa fa-bars"></i>Danh mục sản phẩm</div>
        @Html.Partial("_MenuCate")
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 main-slider" style="padding-left:2px;">
        @{
            var slide = entities.Galleries.FirstOrDefault(o => o.Active == true && o.Type == 1);
            var listSlide = entities.GalleryImages.Where(o => o.GalleryId == slide.Id).ToList();
        }
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
            <ol class="carousel-indicators">
                @{
                    var indexSlide = 0;
                    foreach (var item in listSlide)
                    {
                        <li data-target="#myCarousel" data-slide-to="@indexSlide" class="@string.Format("{0}", indexSlide==0?"active":"")"></li>
                        indexSlide++;
                    }
                }

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style="max-height: 369px;">
                @{
                    var indexSlideItem = 0;
                    foreach (var item in listSlide)
                    {

                        <div class="item @string.Format("{0}", indexSlideItem==0?"active":"")">
                            <div class="banner_pc">
                                <a href="#" target="_blank" title="@item.Description">
                                    <img src="@item.Image.Replace("\\","/")" alt="@item.Description">
                                </a>
                            </div>
                        </div>
                        indexSlideItem++;
                    }
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 content">

        <div class="brand_list">
            <div class="well">
                <div class="row">
                    <!-- Place somewhere in the <body> of your page -->
                    <div class="flexslider">
                        <ul class="slides">
                            @{
                                var galleryBrand = entities.Galleries.FirstOrDefault(o => o.Active == true && o.Type == 2);
                                var logoBrand = entities.GalleryImages.Where(o => o.GalleryId == galleryBrand.Id).ToList();
                                int logoIndex = 0;
                                foreach (var item in logoBrand)
                                {
                                    <li>
                                        <a href="@item.Link" title="@item.Description" class="thumbnail">
                                            <img src="@item.Image.Replace("\\","/")" alt="@item.Description" style="height:84px;padding:5px;" />
                                        </a>
                                    </li>
                                    logoIndex++;
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            
        </div><!-- end brand_list -->

        @{
            var listCategoryHome = entities.Categories.Where(o => o.StatusId == 1).ToList();
            foreach (var item in listCategoryHome)
            {
                <div class="main-content-box">
                    <h2>@item.Name</h2>
                    <div class="items-list-prod">
                        @{
                            var listProducts = entities.Products.Where(o =>
                                        o.CategoryId == item.Id ||
                                        o.Category.Parent == item.Id).OrderByDescending(o => o.View).Take(6).ToList();
                            foreach (var product in listProducts)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 items">
                                    <div class="img-prod">
                                        <a href="/san-pham/@product.Id/@product.UrlCode" title="@product.Name">
                                            <img src="@product.Thumb" alt="@product.Name" />
                                        </a>
                                    </div>
                                    <div class="title-prod">
                                        <a href="/san-pham/@product.Id/@product.UrlCode" title="@product.Name">@product.Name</a>
                                    </div>
                                    <div class="price-prod">
                                        <div class="price-new-prod">@string.Format("{0:###,###}", product.Price) đ</div>
                                        <div class="clearFix"></div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="view_all">
                            <a class="view_all_link" href="/danh-muc/@item.Id/@item.UrlCode" title="@item.Name">
                                Xem tất cả <i class="fa fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                            }
        }
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-right-ct" style="padding:1px;">
    <div class="suport-box">
        @Html.Raw(ResourceHelper.GetResourceByKey("RightBoxInfoHome"))
    </div>
    <div class="content-box home-products">
        <h2>Quan tâm nhiều</h2>
        @Html.Partial("_PopularProduct")
    </div>
</div>
@section _scripts{
    <script src="/Theme/javascript/tmd/index.js"></script>
<script defer src="/Theme/flex/js/jquery.flexslider.js"></script>

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                itemWidth: 210,
                itemMargin: 5,
                minItems: 2,
                maxItems: 4,
                start: function (slider) {
                    $('.brand_list .flex-next').css({ visibility: 'hidden' });
                    $('.brand_list .flex-prev').css({ visibility: 'hidden' });
                }
            });
        });
    </script>
}