﻿@using ProjectManagement.Helper
@using Model;
@{
    ViewBag.Title = "Bản đồ";
    ProjectManagementEntities entities = new ProjectManagementEntities();

}
<link href="/Theme/style/frontend/theme/default/css/custom_2.css" rel="stylesheet" />
<div class="breadcrumb_wpr">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 breadcrumb">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">		<a class="home_link" title="Phụ tùng xe máy" href="/" itemprop="url">			<span itemprop="title">Phụ tùng xe máy</span>		</a><span class="arrow">›</span>				<div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">					<a title="Bản đồ" href="/ban-do" itemprop="url">			<span itemprop="title">Bản đồ</span></a></div></div>
    </div>
    <div class="clearFix"></div>
</div>			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct">
    <div class="col-lg-3 col-md-4 col-sm-12 col-sm-12 main-menu">
        <div class="header-main-menu"><i class="fa fa-bars"></i>Danh mục sản phẩm</div>
        @Html.Partial("_MenuCate")
    </div>
    <div class="col-lg-12 col-md-12 content checkout-success contact-page">

        <div class="main-content-box news-detail">
            <!-- begin main-content-box 01 -->
            <h1>Bản đồ</h1>
            <div class="news-detail-content">
              @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("ContactInfo"))
                <div class="form-contact">

                    <div class="form_regular">
                        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1eDYciMgecOm50xiyD5JE9F1KxEU"></iframe>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-right-ct">
    <div class="suport-box">
        @Html.Raw(ResourceHelper.GetResourceByKey("RightBoxInfoHome"))
    </div>
</div>
<script src="/Theme/javascript/tmd/none_index.js"></script>
