﻿@using Model;
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();

}
<style>
    .sidebar-widget-body{
        padding:6px;
    }
</style>
<div class="sidebar-widget outer-bottom-xs wow fadeInUp">
    <h3 class="section-title">Danh mục sản phẩm</h3>
    <div class="sidebar-widget-body m-t-10">
        <div class="accordion">
            @{
                var listCate = entities.Categories.Where(o => o.Active == true && o.Parent == 0).ToList();
                foreach (var item in listCate)
                {
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="/danh-muc/@item.Id/@item.UrlCode" class="accordion-toggle collapsed">
                                @item.Name
                            </a>
                        </div><!-- /.accordion-heading -->
                        @{
                            var subCate = entities.Categories.Where(o => o.Parent == item.Id && o.Active == true).ToList();
                            if (subCate.Count > 0)
                            {
                                <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                                    <div class="accordion-inner">
                                        <ul>
                                            @foreach (var subItem in subCate)
                                            {
                                                <li><a href="/danh-muc/@subItem.Id/@subItem.UrlCode">@subItem.Name</a></li>
                                            }
                                        </ul>
                                    </div><!-- /.accordion-inner -->
                                </div><!-- /.accordion-body -->

                            }
                        }
                    </div><!-- /.accordion-group -->
                            }
            }
        </div><!-- /.accordion -->
    </div><!-- /.sidebar-widget-body -->
</div>