﻿<div class="blog-review wow fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
            <div id="fb-root"></div>
            <script>
                                (function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=600804230054080";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
        </div>

    </div>
</div>