﻿@using ProjectManagement.Helper;
<footer>
    <div class="container">
      @Html.Raw("FooterMenu")
    </div>
    <div class="copyright">
        @Html.Raw(ResourceHelper.GetResourceByKey("Footer"))
    </div>
</footer>