﻿@using ProjectManagement.Helper
@using Model
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<header>
    <div class="top-panel-fixed-wrp">
        <div class="container top-panel-fixed">
            <div class="col-lg-3 col-md-4 col-sm-12 col-sm-12 main-menu-fixed"></div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 search-top-fixed"></div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 cart-fixed dropdown" id="cartTopRightFix"></div>
        </div>
    </div>

    <nav class="navbar navbar-default top-panel">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" title="@ResourceHelper.GetResourceByKey("TitleSite")">Trang chủ</a></li>
                @{
                    var listPage = entities.Pages.Where(o => o.Active == true).OrderBy(o => o.OrderDisplay).ToList();
                    foreach (var item in listPage)
                    {
                        <li><a href="/trang/@item.Id/@item.UrlCode" title="@item.Name">@item.Name</a></li>
                    }
                }
                <li><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 logo">
            <h1>
                <a href="/" title="@ResourceHelper.GetResourceByKey("TitleSite")">
                    <img src="@ResourceHelper.GetResourceByKey("Logo")" alt="@ResourceHelper.GetResourceByKey("TitleSite")" />
                </a>
            </h1>
        </div>

        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 search-top">
            <form action="/tim-kiem" method="post">
                <div class="form-group">
                    <div class="col-md-11 col-sm-11 col-xs-11 search-col"><input name="searchText" type="text" class="form-control" id="searchText" placeholder="Nhập tên sản phẩm muốn tìm..."></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 search-col"><button type="submit" class="btn btn-default" style="width: 100%;height: 34px;"><i class="fa fa-search"></i></button></div>
                </div>
                <div class="suggested-search">
                    @Html.Raw(ResourceHelper.GetResourceByKey("PopularSearch"))
                </div>
            </form>
        </div>
    </div>
</header>
<script>
        function searchProduct() {
            var searchText = $("#txtdkm").val();
            if (searchText.trim() == "") {
            } else {
                window.location.href = '/tim-kiem/' + searchText;
            }
        }
</script>