﻿<!DOCTYPE html>
<html lang="en">
<head>

    <title>@string.Format("{0}", ViewBag.Title == null ? ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite") : ViewBag.Title + " | " + ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"))</title>
    <link rel="shortcut icon" href="/fav.png?v=1" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@string.Format("{0}",ViewBag.Keyword==null?ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"):ViewBag.Keyword +" | "+ ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"))" />
    <meta name="description" content="@string.Format("{0}",ViewBag.Description==null?ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"):ViewBag.Description +" | "+ ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"))" />

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <meta name="robots" content="all">
    

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Theme/assets/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/Theme/assets/css/main.css">
    <link rel="stylesheet" href="/Theme/assets/css/blue.css">
    <link rel="stylesheet" href="/Theme/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/Theme/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="/Theme/assets/css/animate.min.css">
    <link rel="stylesheet" href="/Theme/assets/css/rateit.css">
    <link rel="stylesheet" href="/Theme/assets/css/bootstrap-select.min.css">
    <link href="/Theme/assets/css/site.css" rel="stylesheet" />
    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/Theme/assets/css/font-awesome.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
    @Html.Partial("_Menu")
    
    
        @RenderBody()
        <!-- /.container -->
    <!-- /#top-banner-and-menu -->
    <!-- ============================================================= FOOTER ============================================================= -->
    @Html.Partial("_Footer")
    <!-- For demo purposes – can be removed on production -->
    <!-- For demo purposes – can be removed on production : End -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/Theme/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/Theme/assets/js/bootstrap.min.js"></script>
    <script src="/Theme/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/Theme/assets/js/owl.carousel.min.js"></script>
    <script src="/Theme/assets/js/echo.min.js"></script>
    <script src="/Theme/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="/Theme/assets/js/bootstrap-slider.min.js"></script>
    <script src="/Theme/assets/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="/Theme/assets/js/lightbox.min.js"></script>
    <script src="/Theme/assets/js/bootstrap-select.min.js"></script>
    <script src="/Theme/assets/js/wow.min.js"></script>
    <script src="/Theme/assets/js/scripts.js"></script>
</body>
</html>
