﻿<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@string.Format("{0}", ViewBag.Title == null ? ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite") : ViewBag.Title + " | " + ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"))</title>
    <meta name="keywords" content="@string.Format("{0}",ViewBag.Keyword==null?ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"):ViewBag.Keyword +" | "+ ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"))" />
    <meta name="description" content="@string.Format("{0}",ViewBag.Description==null?ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"):ViewBag.Description +" | "+ ProjectManagement.Helper.ResourceHelper.GetResourceByKey("TitleSite"))" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Theme/style/frontend/theme/default/css/bootstrap.min.css">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/Theme/style/frontend/theme/default/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Theme/style/frontend/theme/default/css/custom.css">
    <link rel="stylesheet" href="/Theme/style/frontend/theme/default/css/responsive.css">
    <style>
        .content-detail img {
            max-width: 800px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

</head>
<body>
    
    @Html.Partial("_HeaderSection")

    <section>
        <!-- begin main content -->
        <div class="container main-content">
           @RenderBody()

        </div>
    </section>

    @Html.Partial("_Footer")

    <!-- popup content -->
    <script type="text/javascript" src="/Theme/javascript/jquery.lightbox_me.js"></script>
    <script type="text/javascript" src="/Theme/javascript/jquery.cookie.js"></script>
    <!-- end popup content -->
    <!-- sign up / sign in popup !-->
    <script type="text/javascript" src="/Theme/javascript/tmd/frontend.js"></script>
    <script type="text/javascript" src="/Theme/javascript/tmd/lib.js"></script>

  @RenderSection("_scripts", false)
</body>
</html>
