﻿@using Model;
@using ProjectManagement.Models;
@{ 
    ProjectManagementEntities entities = new ProjectManagementEntities();
    var listMenuCate = new List<CateAndSubCate>();
    var menuCate = entities.Categories.Where(o => o.Active == true).ToList();
    foreach (var item in menuCate)
    {
        listMenuCate.Add(new CateAndSubCate()
        {
            Category = item,
            SubCategory = entities.Categories.Where(o => o.Active == true && o.Parent == item.Id).OrderByDescending(o => o.OrderDisplay).ToList()
        });
    }
}
<div class="head"><i class="icon fa fa-bars"></i> Danh mục sản phẩm</div>
<nav class="yamm megamenu-horizontal">
    <ul class="nav">
        @{
            foreach (var item in listMenuCate)
            {
                <li class="dropdown menu-item">
                    <a href="/danh-muc/@item.Category.Id/@item.Category.UrlCode" class="dropdown-toggle" >@item.Category.Name</a>
                    @{
                        if (item.SubCategory != null && item.SubCategory.Count > 0)
                        {
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <div class="col-md-3">
                                        <div class="col-sm-12">
                                            <ul class="links list-unstyled">
                                                @{
                                                    foreach (var subItem in item.SubCategory)
                                                    {
                                                        <li><a href="/danh-muc/@item.Category.Id/@item.Category.UrlCode">@subItem.Name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- /.yamm-content -->
                            </ul>
                                                    }
                    }

                </li>
                                                    }
        }

    </ul>
    <!-- /.nav -->
</nav>