﻿@using ProjectManagement.Helper
@using Model
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<ul class="main_menu_dropdown">
    @{
        var listCategories = entities.Categories.Where(o => o.Active == true && o.Parent == 0).OrderBy(o => o.OrderDisplay).ToList();
        foreach (var item in listCategories)
        {
            var listSubCategories = entities.Categories.Where(o => o.Parent == item.Id && o.Active == true && o.StatusId == 0).OrderBy(o => o.OrderDisplay).ToList();
            <li class="hadsub-menu">
                <a class="menu-link" href="/danh-muc/@item.Id/@item.UrlCode" title="@item.Name">
                    <i style="background:url('@item.Thumb') no-repeat; padding: 15px;margin-right: 5px;float: left;"></i><h2>@item.Name</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    @item.Description
                </span>
                @{
                    if (listSubCategories.Count > 0)
                    {
                        <ul class="submenu-lv1">
                            @{
                                foreach (var subItem in listSubCategories)
                                {
                                    <li>
                                        <a href="/danh-muc/@subItem.Id/@subItem.UrlCode" title="@subItem.Name">@subItem.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                                }
                }
            </li>
                                }
    }

</ul>