﻿@using Model
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
    var listPage = entities.Pages.Where(o => o.Active == true).ToList();
}
<header class="header-style-1">
    <div class="top-bar animate-dropdown">
        <div class="container">
            <div class="header-top-inner">

                <div class="cnt-block">
                    <ul class="list-unstyled list-inline">
                        @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("SocialTop"))
                    </ul>
                    <!-- /.list-unstyled -->
                </div>
                <!-- /.cnt-cart -->
                <div class="offer-text"><span style="padding-right:10px"><i class="fa fa-truck" style="padding-right:5px"></i> Vận chuyển miễn phí </span>  <span style="padding-right:10px"><i class="fa fa-phone" style="padding-right:5px"> </i> @ProjectManagement.Helper.ResourceHelper.GetResourceByKey("Hotline")</span></div>
                <div class="clearfix"></div>
            </div>
            <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <div class="logo"> <a href="/"> <img src="@ProjectManagement.Helper.ResourceHelper.GetResourceByKey("Logo")" alt="logo"> </a> </div>
                    <!-- /.logo -->
                </div>
                <!-- /.logo-holder -->

                <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
                    <!-- /.contact-row -->
                    <div class="search-area">
                        <form>
                            <div class="control-group">
                                <ul class="categories-filter animate-dropdown">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span id="cate-menu" data-id="0">Tất cả sản phẩm</span> <b class="caret"></b></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" onclick="updateTextSearch(this)" data-id="0">Tất cả sản phẩm</a></li>
                                            @{
                                                var category = entities.Categories.Where(o => o.Active == true).ToList();
                                                foreach (var item in category)
                                                {
                                                    <li role="presentation"><a role="menuitem" onclick="updateTextSearch(this)" data-id="@item.Id">@item.Name</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <input class="search-field" id="searchText" name="searchText" placeholder="Tìm kiếm..." />
                                <a class="search-button" onclick="searchProduct()" style="cursor:pointer"></a>
                            </div>
                        </form>
                    </div>
                    <!-- /.search-area -->
                </div>
                <!-- /.top-search-holder -->

                <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">

                    <div class="dropdown dropdown-cart">
                        <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
                            <div class="items-cart-inner">
                                <div class="total-price-basket"> <span class="lbl">@ProjectManagement.Helper.ResourceHelper.GetResourceByKey("HotlineMenu")</span> </div>
                            </div>
                        </a>
                        <!-- /.dropdown-menu-->
                    </div>
                    <!-- /.dropdown-cart -->
                </div>
                <!-- /.top-cart-row -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.main-header -->
    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                <li class="@string.Format("{0}",Request.Url.AbsolutePath.ToLower().Equals("/") ? "active" : "") dropdown yamm-fw"> <a href="/">Trang chủ</a> </li>
                                @{
                                    foreach (var item in listPage)
                                    { 
                                        <li class="dropdown @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains(item.UrlCode) ? "active" : "")">
                                            <a href="/trang/@item.Id/@item.UrlCode">@item.Name</a>
                                        </li>
                                    }
                                }
                                <li class="dropdown yamm-fw @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("cong-trinh-thuc-te") ? "active" : "")"> <a href="/cong-trinh-thuc-te">Công trình thực tế</a> </li>
                                <li class="dropdown @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("danh-muc") || Request.Url.AbsolutePath.ToLower().Contains("san-pham")? "active" : "")">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Sản phẩm</a>
                                    <ul class="dropdown-menu pages">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-xs-12 col-menu">
                                                        <ul class="links">
                                                            @{
                                                                var listCategory = entities.Categories.Where(o => o.Active == true).OrderByDescending(o => o.OrderDisplay).ToList();
                                                                foreach (var cate in listCategory)
                                                                {
                                                                    <li><a href="/danh-muc/@cate.Id/@cate.UrlCode">@cate.Name</a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown yamm-fw @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("tin-tuc") ? "active" : "")"> <a href="/tin-tuc/index">Tin tức</a> </li>
                                <li class="dropdown yamm-fw @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("video-thi-cong") ? "active" : "")"> <a href="/video-thi-cong">Video thi công</a> </li>
                                <li class="dropdown yamm-fw @string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("lien-he") ? "active" : "")"> <a href="/lien-he">Liên hệ</a> </li>
                            </ul>
                            <!-- /.navbar-nav -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.nav-outer -->
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.nav-bg-class -->
            </div>
            <!-- /.navbar-default -->
        </div>
        <!-- /.container-class -->

    </div>
    <!-- /.header-nav -->

</header>
<script>
    function updateTextSearch(element) {
        $("#cate-menu").html($(element).html());
        $("#cate-menu").attr("data-id", $(element).attr("data-id"));
    }
    function searchProduct() {
        var id = parseInt($("#cate-menu").attr("data-id"));
        var searchText = $("#searchText").val();
        if (searchText.trim() == "") {
        } else {
            window.location.href = '/tim-kiem/' + id + "/" + searchText;
        }
    }
</script>