﻿@using Model;
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<style>
    .owl-item {
    padding-top: 0px;
}
</style>
<div class="sidebar-widget  wow fadeInUp outer-top-vs ">
    <div id="advertisement" class="advertisement">
        @{
            var listNews = entities.News.Where(o => o.Active == true).OrderByDescending(o => o.View).Take(5).ToList();
            foreach (var item in listNews)
            {
                <div class="item">
                    <div class="avatar"><img src="@item.ThumbPic" alt="@item.Title"></div>
                    <div class="testimonials"><em>@item.Summary</em></div>
                    <div class="clients_author"><a href="/tin-tuc/chi-tiet/@item.NewsID/@item.UrlCode">@item.Title </a></div>
                    <!-- /.container-fluid -->
                </div>
        <!-- /.item -->
            }
        }
    </div>
    <!-- /.owl-carousel -->
</div>