﻿@using Model;
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<style>
    .sidebar-widget-body{
        padding:6px;
    }
</style>
<div class="sidebar-widget outer-bottom-xs wow fadeInUp">
    <h3 class="section-title">Bài viết</h3>
    <ul class="nav nav-tabs">
        <li class="active tab-pane-title"><a href="#popular" data-toggle="tab">Phổ biến</a></li>
        <li class="tab-pane-title"><a href="#recent" data-toggle="tab">Gần đây</a></li>
    </ul>
    <div class="tab-content" style="padding-left:0">
        <div class="tab-pane active m-t-20" id="popular">
            @{
                var popularPost = entities.News.Where(o => o.Active == true).OrderByDescending(o => o.View).Take(5).ToList();
                foreach (var item in popularPost)
                {
                    <div class="blog-post inner-bottom-30 ">
                        <img class="img-responsive" src="@item.ThumbPic" alt="">
                        <h4><a href="/tin-tuc/chi-tiet/@item.NewsID/@item.UrlCode">@string.Format("{0}", item.Title.Length > 50 ? item.Title.Substring(0, 50) + "..." : item.Title)</a></h4>
                        <span class="date-time">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                        <p>@string.Format("{0}", item.Summary.Length > 120 ? item.Summary.Substring(0, 120) + "..." : item.Summary)</p>
                    </div>
                }
            }
        </div>

        <div class="tab-pane m-t-20" id="recent">
            @{
                var recentPost = entities.News.Where(o => o.Active == true).OrderByDescending(o => o.CreatedDate).Take(5).ToList();
                foreach (var item in recentPost)
                {
                    <div class="blog-post inner-bottom-30 ">
                        <img class="img-responsive" src="@item.ThumbPic" alt="">
                        <h4><a href="/tin-tuc/chi-tiet/@item.NewsID/@item.UrlCode">@string.Format("{0}", item.Title.Length > 50 ? item.Title.Substring(0, 50) + "..." : item.Title)</a></h4>
                        <span class="date-time">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                        <p>@string.Format("{0}", item.Summary.Length > 120 ? item.Summary.Substring(0, 120) + "..." : item.Summary)</p>
                    </div>
                }
            }
        </div>
    </div>
</div>