﻿@using ProjectManagement.Helper
@using Model
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
}
<div class="items-list-ctb">
    @{
        var listFavouriteProducts = entities.Products.OrderByDescending(o => o.View).Take(10).ToList();
        foreach (var item in listFavouriteProducts)
        {
            <div class="items-ctb">
                <div class="img-ctb">
                    <a href="/san-pham/@item.Id/@item.UrlCode" title="@item.Name" alt="@item.Name">
                        <img src="@item.Thumb" alt="@item.Name" />
                    </a>
                </div>
                <div class="title-ctb">
                    <a href="/san-pham/@item.Id/@item.UrlCode" title="@item.Name">@item.Name</a>
                </div>
                <div class="price-ctb">@string.Format("{0:###,###}", item.Price) đ</div>
                <div class="clearFix"></div>
            </div>
        }
    }
</div>