﻿@{

    var realStruct = ViewBag.RealStruct as Model.RealStruct;
    ViewBag.Title = realStruct.Name;
    ViewBag.Description = realStruct.Description;
    ViewBag.Keyword = realStruct.Keyword;
}

<style>
    .tab-content {
        padding-left: 6px !important;
        padding: 6px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li class='active'>@realStruct.Name</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="blog-page">
                <div class="col-md-9">
                    <div class="blog-post wow fadeInUp">
                        <h1>@realStruct.Name</h1>
                        <div class="row" style="text-align:justify;padding:15px;">
                            @Html.Raw(realStruct.Content)
                        </div>
                        <div class="row">
                            <div id="hero" style="padding:20px;">
                                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                                    @{
                                        var list = ViewBag.Data as List<Model.RealStructImage>;
                                        foreach (var item in list)
                                        {

                                            <div class="item" style="background-image: url(@MvcHtmlString.Create(Html.Encode(item.Image.Replace(@"\", "/"))));">
                                                <div class="container-fluid">
                                                    <!-- /.caption -->
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <!-- /.owl-carousel -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="addthis_inline_share_toolbox_0c39"></div>
                            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5004c8b6595cd35d"></script>
                        </div>
                    </div>
                    <div class="blog-post-author-details wow fadeInUp">
                        <div class="row">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        </div>
                    </div>
                    <div class="blog-review wow fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(ProjectManagement.Helper.ResourceHelper.GetResourceByKey("FacebookComment"))
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 sidebar">
                    <div class="sidebar-module-container">
                        <!-- ==============================================CATEGORY============================================== -->
                        @Html.Partial("_CateMenu")
                        <!-- /.sidebar-widget -->
                        <!-- ============================================== CATEGORY : END ============================================== -->
                        @Html.Partial("_NewsTab")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


