﻿@using Model
@{
    ProjectManagementEntities entities = new ProjectManagementEntities();
    ViewBag.Title = "Công trình thực tế";
}
<style>
    .filters-container .pagination-container ul li a {
        padding: 3px 9px;
    }

    .filters-container .pagination-container ul li.active a {
        color: #fff;
    }
</style>
<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 sidebar'>
                <!-- ================================== TOP NAVIGATION ================================== -->
                <div class="side-menu animate-dropdown outer-bottom-xs">
                    @Html.Partial("_LeftMenu")
                    <!-- /.megamenu-horizontal -->
                </div>
                <!-- /.side-menu -->
                <!-- ================================== TOP NAVIGATION : END ================================== -->
                <div class="sidebar-module-container">
                        <!-- ============================================== SIDEBAR CATEGORY ============================================== -->
                       @*@Html.Partial("_NewsTab")*@
                        <!-- /.sidebar-widget -->
                        <!----------- Testimonials------------->
                        @Html.Partial("_NewsScroll")
                    <!-- /.sidebar-filter -->
                </div>
                <!-- /.sidebar-module-container -->
            </div>
            <!-- /.sidebar -->
            <div class='col-md-9'>
                <!-- ========================================== SECTION – HERO ========================================= -->
                <div class="search-result-container ">
                    <div id="myTabContent" class="tab-content category-list">
                        <div class="tab-pane active " id="grid-container">
                            <div class="category-product">
                                <div class="row">
                                    @{

                                        foreach (var item in ViewBag.Data as List<ProjectManagement.Models.RealStructModel>)
                                        {
                                            <div class="col-sm-6 col-md-4 wow fadeInUp">
                                                <div class="products">
                                                    <div class="product">
                                                        <div class="product-image">
                                                            <div class="image"> <a href="/cong-trinh-thuc-te/@item.Id"><img src="@item.DefaultImage" alt="@item.Name"></a> </div>
                                                        </div>
                                                        <div class="product-info text-left">
                                                            <h3 class="name"><a href="/cong-trinh-thuc-te/@item.Id" title="@item.Name">@item.Name</a></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.category-product -->

                        </div>
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane #list-container -->
                    </div>
                    <!-- /.tab-content -->
                    <!-- /.filters-container -->

                </div>
                <!-- /.search-result-container -->

            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.container -->
</div>
<script>
    function filterUrl(queryName, value) {
        var currentUrl = window.location.href;
        var filterUrl = updateQueryStringParameter(currentUrl, queryName, value);
        window.location.href = filterUrl;
    }
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }
</script>