﻿@model ProjectManagement.Models.ProductGalleryModel
@{
    ViewBag.Title = "Quản lý ảnh";
}
<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $('.dropify').dropify({
            messages: {
                default: 'Kéo và thả file hoặc click vào đây',
                replace: 'Kéo và thả hoặc click để thay đổi ảnh',
                remove: 'Xóa',
                error: 'Ooop, có lỗi xảy ra trong quá trình xử lý.'
            }
        });
    });
</script>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-b-30">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="window.location.href='/admin/product/index'">Quay lại danh sách<i class="fa fa-backward"></i></button>
                                    </div>
                                </div>
                            </div>
                            <form action="/admin/product/gallery" method="post" id="createoredit" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Tên/Mô tả</label>
                                            <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                            <input type="hidden" name="ProductId" id="ProductId" value="@Model.ProductId">
                                            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title">
                                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Image" class="control-label">Ảnh</label>
                                            @Html.TextBoxFor(m => m.FileBase, new { @class = "dropify", name = "file", placeholder = "", type = "file", @data_default_file = Model.Thumb })
                                            @Html.ValidationMessageFor(m => m.FileBase, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info waves-effect waves-light">Lưu</button>
                                    </div>
                                </div>
                            </form>
</div>
                    </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="editable-responsive">
                                <table class="table table-striped" id="datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ảnh</th>
                                            <th>Mô tả</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.GalleryImages != null && ViewBag.GalleryImages.Count > 0)
                                            {
                                                var index = 1;
                                                foreach (var item in ViewBag.GalleryImages as List<Model.ProductGallery>)
                                                {
                                                    <tr class="gradeX">
                                                        <td>
                                                            @index
                                                        </td>
                                                        <td>
                                                            <img src="@item.Thumb" height="120" />
                                                        </td>
                                                        <td style="vertical-align:middle">
                                                            @item.Title
                                                        </td>
                                                        <td style="vertical-align:middle" class="actions">
                                                            <a href="javascript:void(0)" onclick="productGalleryController.currentProductGallery=@item.Id;" data-toggle="modal" data-target="#delete-modal" class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                    index++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: panel body -->
                    </div> <!-- end panel -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
    @Html.Partial("Footer")
</div>
<!-- MODAL -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa ảnh này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="productGalleryController.deleteImage()">Xóa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end Modal -->

@section scripts{
    <!-- Editable js -->
    <script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <!-- init -->
    <script src="~/assets/js/controller/productGalleryController.js"></script>
}

