﻿.nav-side-menu {
    
    font-weight: 200;
    width: 100%;
    height: 100%;
    color: #e1ffff;
    clear: both;
    padding-right: 5px;
}

    .nav-side-menu .brand {
        background-color: #ef4023;
        line-height: 40px;
        display: block;
        text-align: left;
        font-size: 16px;
        padding-left: 15px;
    }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
        /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
    }

        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu ul .active,
        .nav-side-menu li .active {
            /* border-left: 3px solid #d19b3d; */
            background-color: #fff;
            color: #222;
        }

        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
            color: #d19b3d;
        }

            .nav-side-menu ul .sub-menu li.active a,
            .nav-side-menu li .sub-menu li.active a {
                color: #d19b3d;
            }

        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            /* background-color: #181c20; */
            border: none;
            line-height: 28px;
            /* border-bottom: 1px solid #23282e; */
            margin-left: 0px;
            padding: 5px;
            color: #222;
        }

            .nav-side-menu ul .sub-menu li:hover,
            .nav-side-menu li .sub-menu li:hover {
                background-color: #fff;
            }

            .nav-side-menu ul .sub-menu li:before,
            .nav-side-menu li .sub-menu li:before {
                font-family: FontAwesome;
                content: "\f105";
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }

    .nav-side-menu li {
        padding: 4px 2px;
        /*border-left: 3px solid #2e353d;
        border-bottom: 1px solid #23282e;*/
    }

        .nav-side-menu li a {
            text-decoration: none;
            color: #555;
            font-size: 14px;
        }

            .nav-side-menu li a i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
            }

        .nav-side-menu li:hover {
            border-left: 3px solid #808080;
            background-color: #fff;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    #brandlist .carousel-inner .item .item-item:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    #brandlist .carousel-inner {
        height: 320px;
    }
}

#brandlist .carousel-inner {
    overflow-y: hidden;
}

    #brandlist .carousel-inner .active.left {
        left: -25%;
    }

    #brandlist .carousel-inner .next {
        left: 25%;
    }

    #brandlist .carousel-inner .prev {
        left: -25%;
    }

#brandlist .carousel-control {
    width: 4%;
}

    #brandlist .carousel-control.left, .carousel-control.right {
        margin-left: 15px;
        background-image: none;
    }

#brandlist .carousel-inner .item-item {
    padding: 0 !important;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #fff;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}
#tab-detail>li.active{
        border-bottom: 4px solid #ef4023;
}
#tab-detail h3{
    color: #383838;
     float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}