/* 
  - B?n quy?n thu?c 2banh.vn
  - Design by Huynh Hieu
  - Email: beetiny.hth@gmail.com
 */
.breadcrumb {
    background: transparent none repeat scroll 0 0;
    height: 36px;
    margin: 0 auto;
    overflow: hidden;
    /*padding-left: 35px*/
}
.arrow {
    float: left;
    margin-top: 0px;
    padding: 0 0 0 10px;
}
.breadcrumb_wpr {
    background: #e9e9e9 none repeat scroll 0 0;
}
.breadcrumb > div {
    float: left;
    padding: 3px 10px 8px;
}
.breadcrumb div a {
    color: #777777;
    float: left;
    font-size: 12px;
    margin-top: -3px;
    text-decoration: none;
}
.breadcrumb div a i{
        font-size: 16px;
    padding: 0px 5px;
}
.breadcrumb > div > a {
    background-image: none !important;
    padding-left: 14px;
}
.breadcrumb > div div {
    float: left;
    margin-top: -8px;
    padding: 8px 10px;
}
.breadcrumb > div > div > div a {
    color: #777777;
    font-weight: bold;
}
.breadcrumb > div > div > div a > span {
    display: block;
    height: 21px;
    max-width: 485px;
    overflow: hidden;
}
.breadcrumb .fa-angle-right {
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
}
.main-menu{margin-top: -36px;}
.main_menu_dropdown {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #888;
    padding: 10px 0 5px 5px !important;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: none;
}
.submenu-lv1{right: -325px; top: 0; margin-right: 0 !important;}
.col-right-ct{ margin-top: 15px;}
#carousel-example-generic {
  display: inline-block;
}
ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
ul.thumbnails-carousel .center {
    display: inline-block;
}
ul.thumbnails-carousel li {
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.controls-background-reset {
    background: none !important;
}
.active-thumbnail {
    opacity: 1;
}
.indicators-fix {
    bottom: 70px;
}
.thumbnails-carousel li img{ border: 1px solid #e9e9e9;width: 50px;}
.top-detail{ float: left; width: 100%; margin-left: -15px;}
.title-qt{ padding: 0; float: left;}
.num-qt{padding: 0; float: left; max-width: 115px;}
.right-detail {padding: 0;}
    .right-detail h1 {
        float: left;
        width: 100%;
        font-size: 20px;
        color: #444444;
        margin: 0;
        padding: 8px 0;
    }
.description-detail{ color: #666666; font-size: 12px;}
.info-detail{ border:1px solid #eee; margin-top: 15px;}
.price{color:#777777; font-size: 20px; padding: 15px; float: left; width: 100%; }
.price span{font-size: 23px; color: #fe5045; padding-right: 15px;}
.price span.old-price{ font-size: 20px; color: #777; text-decoration: line-through;}
.status-detail{ padding:10px 15px 15px 15px; color: #2ca15d; font-size: 16px; float: left; width: 100%; }
.status-detail i{ padding-right: 5px;}
.quantity-detail{ padding:10px 15px 15px 15px; color: #555555; font-size: 14px; float: left; width: 100%; }
.title-qt{ padding: 8px 10px 0 0;}
.buy-btn{ width: 100%;padding:10px 15px 15px 15px; float: left; }
.like-btn{ padding: 15px; background: #f9f9f9; width: 100%; float: left;}
.buy-btn-detail{ font-size: 16px; font-weight: bold; text-transform: uppercase; padding:10px 25px;}
.content-pages{ margin-top: 15px; float: left;}
.move-link{ 
    color: #777777;
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 25px;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
.content-detail{ color: #555; font-size: 14px; padding: 15px; line-height: 26px;}
.move-link:hover{ text-decoration: none;}
.comment-detail{ padding:15px; margin-bottom: 15px;}
#comment-box h2{ border-color: #45ABCD;}
.img-items-modal img{ width: 70px; border: 2px solid #f9f9f9;}
.items-modal, .note-cart{ width: 100%; float: left; margin-bottom: 15px;}
.title-items-modal a{ font-weight: bold;}
.price-items-modal { text-align: right; font-size: 14px; font-weight: bold;}
.price-items-modal span{ color: #ed1b24;}
.note-cart{ border-top: 1px dotted #ccc; padding-top: 10px;}
.right-note-cart{ font-size: 14px; text-align: right;}
.right-note-cart span{color: #ed1b24; font-weight: bold;}
.modal-box .modal-footer{ background: #f9f9f9;}
.modal-box .modal-footer .btn{ font-weight: bold;}
.modal-box .modal-title { color: #666;}
.sub-menu-list{margin:15px 0 0 -15px; padding: 15px 15px 15px 0; font-size: 16px; font-weight: bold; color: #444; float: left;}
.sub-menu-list a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #d6938f;
    border-image: none;
    border-radius: 0 2px 2px 0;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    color: #555;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}
.sub-menu-list span{ float:left; padding-right: 10px; padding-top: 5px; margin-bottom: 10px; font-weight: normal;}
.sub-menu-list a:hover{background: #FE5045; color: #fff; text-decoration: none; border-color: #FE5045;}
.counter-prods{ font-size: 14px; color: #666666; padding: 10px 15px; float: left;}
.sort_mode {
    float: right;
    margin-left: 15px;
    font-size: 12px; margin-top: 10px;
}
.title_xd, .dropdown {
    float: left;
}
.title_xd {
    padding-right: 5px;
}
.sort_mode .dropdown-toggle {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #555;
    margin-top: -8px;
    min-width: 160px;
    text-align: left;
}
.sort_mode .btn-primary{ text-shadow:none !important;}
.sort_mode .caret{ float: right; margin-top: -10px;}
.news-catalog{ margin-top: 15px;}
.items-list-prod{padding: 15px;}
.items-news {
    padding: 20px;
    line-height: 20px; 
}
.img-items-news img {
    width: 100%; min-height: 255px;
}
.title-items-news a h2{color: #383838; font-size: 18px; border: 0; line-height: 26px; height: 68px; overflow: hidden;}
.datetime-items-news {font-size: 12px; padding: 5px 10px; color: #777; background: #f9f9f9; }
.description-items-news{ padding: 10px 0;}
.news-detail h1{ width: 100%; border-color: #d3d3d3; margin-top: 15px;}
.datetime-detail-news{ color: #777; font-size: 12px;}
.news-detail-content{ padding: 20px; font-size: 13px; float: left; width: 100%; line-height: 24px;}
.like-detail-news{ padding: 15px 0;}
.tag-link{ font-size: 13px; margin-top: 0; margin-left: 0; width: 100%; float: left;}
.cart-checkout-right .dropdown-menu{ display: block; position: static; border-radius: 0; box-shadow: none; width: 100%;}
.cart-checkout-right .items-list-ctb{border:none;}
.cart-checkout-right {margin-bottom: 15px; float: left;}
.cart-checkout-right h2{ margin-top: 0; padding-top: 0;}
.ct-price{ border: none;}
.ct-price span{ font-size: 14px; font-weight: bold; float: right; }
.total-price span{ color: #FE5045;}
.price-cart{ width: 70%; float: left; font-size: 12px; font-weight: bold;}
.head_form_c {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 15px 15px 0;
}
.form_regular .dropdown-toggle:hover {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #555;
}
.form_regular .btn-info:hover, .form_regular .btn-info:focus, .form_regular .btn-info.focus, .form_regular .btn-info:active, .form_regular .btn-info.active, .form_regular .open > .dropdown-toggle.btn-info {
    background-color: #f9f9f9;
    border-color: #ccc;
    color: #555;
}
.input_info_checkout .form-control{ border-radius: 0; box-shadow: none;}
.confirm-checkout{ padding: 15px; float: left; width: 100%;}
.confirm-checkout a{ width: 150px; margin: 0 auto;}
.checkout-success .glyphicon-ok{ color: #01ac6a; padding-right: 5px;}
.col-left-left-ct{ margin-top: 15px; float: left; padding-left: 0;}
.account-links { background: #f9f9f9; color: #444; padding: 15px; font-size: 14px; }
.account-links ul{ list-style: none; margin: 0; padding: 0;}
.account-links ul li{ padding-bottom: 10px;}
.img-orders img{ width: 90px; padding: 5px; border: 1px solid #e9e9e9;}
.header-orders{ background: #e9e9e9;}
.img-orders, .title-orders, .price-orders,.quantity-orders{ padding:15px; font-weight: normal; text-align: center;}
.title-orders{ font-weight: bold;}
.header-orders .img-orders,.header-orders .title-orders, .header-orders .price-orders, .header-orders .quantity-orders{ padding: 10px; font-weight: bold; color: #666; border-right: 1px solid #ccc;}
.items-orders { border-bottom: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9;}
.order-id{ padding: 0 0 5px 0; font-size: 14px;}
.order-id span{ float: right; font-size: 12px;}
.orders-list .ct-price{ padding:5px;}
.items-status{ padding: 15px 0;}
.orders-list{ border-bottom: 1px dotted #ccc; border-right: 1px dotted #ccc; border-left: 1px dotted #ccc;}
.orders-list-page h1 span{ color: #444; font-size: 14px; font-weight: normal; text-transform: none;}
.contact-row{ font-size: 14px; padding: 10px 0;}
.contact-row i{ padding-right: 10px; font-size: 18px;}
.form-contact .form_regular{ padding: 20px;}
.form_regular .form-control{ box-shadow: none; border-radius: 0;}
.form-contact h3{ font-size: 16px; padding-left: 0px;}
.form-contact h3 i{ padding-right: 10px; font-size: 18px;}
.form-contact { padding-top: 15px;}
.img-search-result-items img{ width: 100px; padding: 5px; border: 1px solid #e9e9e9;}
.search_result_ct h3{ font-size: 16px; margin: 0; padding: 0;}
.price-search-result a{ font-size: 15px;color: #E63D18; }
.price-search-result{padding-top: 15px;}
.title-search-result, .price-search-result{ float: left; padding-left: 0;}
.search-result-items{ border-bottom: 1px dotted #e9e9e9; float: left; width: 100%; padding-bottom: 15px; padding-top: 15px;}
.search-result-items:hover{background: #f9f9f9;}
.count_info{ font-size: 14px; padding: 10px 0; color: #666;}
.slide-detail{ padding-top: 15px;}
.slide-detail .carousel-inner .item img{ width: 330px; height: 330px;}
.picZoomer-zoom-wp{ background: #fff; border:1px solid #e9e9e9;}
.picZoomer-pic-wp img{border:1px solid #e9e9e9;}
.catalog-page{ float: left;}
#comment-box{  margin-top: 15px;}
.news-detail-content img {
    max-width: 100%;
}
.right-detail .external {
    font-size: 14px;
    padding: 10px 0 0 0;
}
.right-detail .external a {
    background: none repeat scroll 0 0 #aaa;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 4px;
    margin-right: 2px;
    padding: 0 5px;
}
.right-detail .external a:hover { background: #555; text-decoration: none; }
.img-items-news {
    height: 255px;
    overflow: hidden;
}
.title-items-news {
    background: #fff none repeat scroll 0 0;
    padding: 0 10px;
}
.datetime-items-news{ background: #fff; border-top: 1px solid #eee;}
.description-items-news {
    background: #fff none repeat scroll 0 0;
    height: 75px;
    overflow: hidden;
    padding: 10px;
}
#sum_total_cart{ color: #FE5045;}
.order-id h3{ margin: 0; padding: 0; font-size: 18px; color: #555; text-transform: uppercase;}
.order-id {
    border-bottom: 4px solid #fc766f;
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 30px 0 10px;
    width: 100%;
}
.checkout-success .form-horizontal input.form-control, .checkout-success .form-horizontal textarea.form-control{ border-radius: 0; box-shadow: none;}
.checkout-success .form-horizontal input.form-control{height: 35px;}
.checkout-success .form-horizontal textarea.form-control{ min-height: 90px;}
.checkout-success .form-horizontal .control-label{ color: #666;}
.checkout-success .form-horizontal{text-align: center; margin-bottom: 15px;}
.checkout-success .form-horizontal .btn-primary {
    background-color: #4274d7;
    border-color: #4d5bbe;
    float: none;
    font-weight: bold;
    margin: 0 auto !important;
    text-transform: uppercase;
    width: 260px !important; text-shadow:none;
}
.tag-thumb{padding-right: 0;}
.tag-thumb img{ width:100%;}
.tag-name{ text-transform: uppercase; font-size: 16px; color: #444; padding-bottom: 10px;}
.tag-description{ font-size: 12px; color: #555; font-weight: normal; line-height: 20px;}


