﻿@{
    ViewBag.Title = "Xác nhận tài khoản qua email";
    Layout = null;
}
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="~/assets/js/modernizr.min.js"></script>


<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a href="/" class="logo"><span>Project <span>Management</span></span></a>
        <h5 class="text-muted m-t-0 font-600">Trạng thái xác nhận tài khoản qua email</h5>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Đã xác nhận</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Chuyển tới trang <a href="/admin/account/login" class="text-primary m-l-5"><b>Đăng Nhập</b></a></p>
        </div>
    </div>
</div>
<!-- end wrapper page -->
<script>
            var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/detect.js"></script>
<script src="~/assets/js/fastclick.js"></script>
<script src="~/assets/js/jquery.slimscroll.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>
<script src="~/assets/js/waves.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<!-- App js -->
<script src="~/assets/js/jquery.core.js"></script>
<script src="~/assets/js/jquery.app.js"></script>

