﻿@model ProjectManagement.Models.ProfileModel
@{
    ViewBag.Title = "Thông tin cá nhân";
}
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropify').dropify({
            messages: {
                default: 'Kéo và thả file hoặc click vào đây',
                replace: 'Kéo và thả hoặc click để thay đổi ảnh',
                remove: 'Xóa',
                error: 'Ooop, có lỗi xảy ra trong quá trình xử lý.'
            }
        });
    });
</script>
<div id="con-close-modal-personal-info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/admin/account/personalinformation" method="post" enctype="multipart/form-data" id="create">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Email đăng nhập</label>
                                <input type="text" class="form-control" name="Email" id="Email" placeholder="Email đăng nhập" value="@Model.Email" readonly>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Tên thành viên</label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên thành viên" value="@Model.Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="Address" name="Address" placeholder="Địa chỉ" value="@Model.Address">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Điện thoại</label>
                                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Điện thoại" value="@Model.Phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Chức vụ/vị trí</label>
                                <select class="form-control" name="PositionId">
                                    @{
                                        var listPosition = (List<Model.Position>)ViewBag.Positions;
                                        foreach (var item in listPosition)
                                        {
                                            <option value="@item.Id" @string.Format("{0}", item.Id == Model.PositionId ? "selected" : "")>@item.Name</option>
                                        }
                                    }
                                </select>
                                <input type="text" style="display:none" id="UserId" name="UserId" value="@Model.UserId" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="FileBase" class="control-label">Ảnh đại diện</label>
                                <input type="file" class="dropify" id="FileBase" name="FileBase" data-default-file="@((Model.ProfilePicture))" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light" onclick="memberController.saveData()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>