﻿@model ProjectManagement.Models.ProfileModel
@{
    ViewBag.Title = "Cập nhật thông tin cá nhân";
}
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropify').dropify({
            messages: {
                default: 'Kéo và thả file hoặc click vào đây',
                replace: 'Kéo và thả hoặc click để thay đổi ảnh',
                remove: 'Xóa',
                error: 'Ooop, có lỗi xảy ra trong quá trình xử lý.'
            }
        });
    });
</script>
<div id="con-close-modal-update-profile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/admin/account/updateprofile" method="post" enctype="multipart/form-data" id="create">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Email đăng nhập</label>
                                <input type="text" class="form-control" name="Email" id="Email" placeholder="Email đăng nhập" value="@Model.Email" readonly>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Tên người dùng</label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên thành viên" value="@Model.Name">
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="Address" name="Address" placeholder="Địa chỉ" value="@Model.Address">
                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Điện thoại</label>
                                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Điện thoại" value="@Model.Phone">
                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Vai trò</label>
                                <select class="form-control" name="RoleId" id="RoleId">
                                    @{
                                        foreach (var item in ViewBag.Roles as List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)
                                        {
                                            <option value="@item.Id" @string.Format("{0}", item.Id == Model.RoleId ? "selected" : "")>@item.Name</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="UserId" name="UserId" value="@Model.UserId"/>
                                <input type="hidden" id="ProfilePicture" name="ProfilePicture" value="@Model.ProfilePicture" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="FileBase" class="control-label">Ảnh đại diện</label>
                                @Html.TextBoxFor(m => m.FileBase, new { @class = "dropify", placeholder = "Ảnh đại diện", type = "file", @data_default_file = Model.ProfilePicture })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light" onclick="memberController.saveUpdateProfile()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>