﻿@using Common
@{
    ViewBag.Title = "VEDU";
}
<div class="wrapper">
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Tổng số bài viết</h4>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1">
                                    <i class="fa fa-newspaper-o" style="color:rgb(53, 184, 224); font-size:60px;"></i>
                                </div>
                                <div class="widget-detail-1">
                                    <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", ViewBag.TotalNews)</h2>
                                    <p class="text-muted">bài viết</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Tổng số tin liên hệ</h4>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1">
                                    <i class="fa fa-users" style="color:#188ae2; font-size:60px;"></i>
                                </div>
                                <div class="widget-detail-1">
                                    <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", ViewBag.TotalSubscriber)</h2>
                                    <p class="text-muted">lượt</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Tổng số sản phẩm</h4>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1">
                                    <i class="fa fa-product-hunt" style="color:#5b69bc; font-size:60px;"></i>
                                </div>
                                <div class="widget-detail-1">
                                    <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", ViewBag.TotalProduct)</h2>
                                    <p class="text-muted">sản phẩm</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Thông tin liên hệ mới</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Email</th>
                                            <th>Điện thoại</th>
                                            <th>Lúc</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.NewContacts != null && ViewBag.NewContacts.Count > 0)
                                            {
                                                var index = 0;
                                                foreach (var item in ViewBag.NewContacts as List<Model.Subscribe>)
                                                {
                                                    index++;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@string.Format("{0}", item.Name.Length > 40 ? item.Name.Substring(0, 40) + "..." : item.Name)</td>
                                                        <td><span class="label label-success">@item.Email</span></td>
                                                        <td><span class="label label-primary">@item.Phone</span></td>
                                                        <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Sản phẩm mới</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Thumb</th>
                                            <th>Loại</th>
                                            <th>Lượt xem</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.NewProducts != null && ViewBag.NewProducts.Count > 0)
                                            {
                                                var index = 0;
                                                foreach (var item in ViewBag.NewProducts as List<ProjectManagement.Models.ProductModel>)
                                                {
                                                    index++;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@string.Format("{0}", item.Name.Length > 40 ? item.Name.Substring(0, 40) + "..." : item.Name)</td>
                                                        <td><img src="@item.Thumb" class="img-responsive" style="height:64px;" /> </td>
                                                        <td><span class="label label-success">@item.CategoryName</span></td>
                                                        <td><span class="label label-primary">@item.View</span></td>
                                                        <td>
                                                            @if (item.Active)
                                                            {
                                                                <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Bài viết mới</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Thumb</th>
                                            <th>Lượt xem</th>
                                            <th>Trạng thái</th>
                                            <th>Ngày</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.NewNews != null && ViewBag.NewNews.Count > 0)
                                            {
                                                var index = 0;
                                                foreach (var item in ViewBag.NewNews as List<Model.News>)
                                                {
                                                    index++;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@item.Title</td>
                                                        <td><img src="@item.ThumbPic" class="img-responsive" style="height:64px;"  /> </td>
                                                        <td><span class="label label-primary">@item.View</span></td>
                                                        <td>
                                                            @if (item.Active)
                                                            {
                                                                <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                                            }
                                                        </td>
                                                        <td>@item.CreatedDate.Value.ToString("dd/MM/yyy HH:mm")</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->
        @Html.Partial("Footer")
    </div>
    <!-- end container -->
    <!-- Right Sidebar -->
    @Html.Partial("NotificationBar")
    <!-- /Right-bar -->
    @Html.Partial("Script")
    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <!--Morris Chart-->
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>
    <!-- Dashboard init -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
</div>