﻿@model ProjectManagement.Models.PageModel
@{
    ViewBag.Title = Model.Id > 0 ? "Cập nhật thông tin" : "Thêm trang";
}
<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $('.dropify').dropify({
            messages: {
                default: 'Kéo và thả file hoặc click vào đây',
                replace: 'Kéo và thả hoặc click để thay đổi ảnh',
                remove: 'Xóa',
                error: 'Ooops, có lỗi xảy ra trong quá trình xử lý.'
            }
        });
    });
</script>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <form action="/admin/pages/createoredit" method="post" id="createoredit" enctype="multipart/form-data">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="m-b-30">
                                            <button class="btn btn-primary waves-effect waves-light" onclick="window.location.href='/admin/pages/index'">Quay lại danh sách trang <i class="fa fa-backward"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Tên</label>
                                            <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                            <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name">
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Mô tả(SEO)</label>
                                            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description">
                                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Từ khóa(SEO)</label>
                                            <input type="text" class="form-control" name="Keyword" id="Keyword" value="@Model.Keyword">
                                            @Html.ValidationMessageFor(m => m.Keyword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Url code</label>
                                            <input type="text" class="form-control" name="UrlCode" id="UrlCode" value="@Model.UrlCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Thứ tự hiển thị</label>
                                            <input type="text" class="form-control" name="OrderDisplay" id="OrderDisplay" value="@Model.OrderDisplay">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Hiển thị</label>
                                            <div class="checkbox checkbox-primary checkbox-single">
                                                <input type="checkbox" name="Active" id="Active" @string.Format("{0}", Model.Active ? "checked" : "") value="true" aria-label="Active">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group no-margin">
                                            <label for="field-7" class="control-label">Nội dung</label>
                                            <textarea class="form-control autogrow" id="Content" name="Content" placeholder="Nội dung..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;">@Model.Content</textarea>
                                            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default waves-effect" onclick="window.location.href='/admin/pages/index'">Hủy</button>
                                        <button type="submit" class="btn btn-info waves-effect waves-light" onsubmit="beforeSubmit()">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end: panel body -->
                    </div> <!-- end panel -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
    @Html.Partial("Footer")
</div>

@section scripts{
    <!-- Editable js -->
    <script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <!-- init -->
    <script src="~/assets/js/controller/newsController.js"></script>
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <!-- file uploads js -->
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
}


<iframe id="form_target" name="form_target" style="display:none"></iframe>

<form id="image_form" action="/file/upload" target="form_target" method="post" enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
    <input name="file" type="file" onchange="$('#image_form').submit();this.value='';">
</form>
<script type="text/javascript">
    $(document).ready(function () {
        //if($("#Note").length > 0){
        tinymce.init({
            selector: "textarea#Content",
            theme: "modern",
            height: 250,
            menubar: false,
            statusbar: false,
            image_caption: true,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
            style_formats: [
                { title: 'Bold text', inline: 'b' },
                { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                { title: 'Example 1', inline: 'span', classes: 'example1' },
                { title: 'Example 2', inline: 'span', classes: 'example2' },
                { title: 'Table styles' },
                { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            ],
            file_browser_callback: function (field_name, url, type, win) {
                if (type == 'image') $('#image_form input').click();
            }
        });
        //}
    });
    function beforeSubmit() {
        $('#Active').val($('#Active').prop('checked'));
        return true;
    }
</script>
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>