﻿@model ProjectManagement.Models.ResourceModel
@{
    ViewBag.Title = Model.Id > 0 ? "Cập nhật thông tin" : "Thêm tài nguyên";
}
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/resource/createoredit" method="post" id="createoredit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Key</label>
                                <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                <input type="text" class="form-control" name="Key" id="Key" placeholder="Key tài nguyên" value="@Model.Key" @string.Format("{0}", Model.Id>0?"readonly":"") >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Tên tài nguyên</label>
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Tên" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label for="field-7" class="control-label">Nội dung</label>
                                <textarea class="form-control autogrow" id="Value" name="Value" placeholder="Nội dung..." style="word-wrap: break-word; resize: horizontal; height: 200px;">@Model.Value</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="resourceController.saveData()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /.modal -->
<iframe id="form_target" name="form_target" style="display:none"></iframe>

<form id="image_form" action="/file/upload" target="form_target" method="post" enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
    <input name="file" type="file" onchange="$('#image_form').submit();this.value='';">
</form>
<script type="text/javascript">
    $(document).ready(function () {
        //if ($("#Content").val().length > 0) {
        //    tinymce.init({
        //        selector: "textarea#Content",
        //        theme: "modern",
        //        height:300,
        //        plugins: [
        //            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
        //            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
        //            "save table contextmenu directionality emoticons template paste textcolor"
        //        ],
        //        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
        //        style_formats: [
        //            {title: 'Bold text', inline: 'b'},
        //            {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        //            {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        //            {title: 'Example 1', inline: 'span', classes: 'example1'},
        //            {title: 'Example 2', inline: 'span', classes: 'example2'},
        //            {title: 'Table styles'},
        //            {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        //        ],
        //        file_browser_callback: function (field_name, url, type, win) {
        //            if (type == 'image') $('#image_form input').click();
        //        }
        //    });
        //}
    });
</script>
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>