﻿@model PagedList.IPagedList<ProjectManagement.Models.NewsModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách bài viết";
}
<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-b-30">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="window.location.href='/admin/news/createoredit'">Thêm <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-responsive">
                                <table class="table table-striped" id="datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Thumb</th>
                                            <th>Tên bài viết</th>
                                            <th>Chuyên mục</th>
                                            <th>Trạng thái</th>
                                            <th>Lượt view</th>
                                            <th>Thứ tự</th>
                                            <th>Chỉnh sửa lần cuối</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var index = 0;
                                            foreach (var item in Model)
                                            {
                                                index++;
                                                <tr class="gradeX">
                                                    <td>
                                                        @index
                                                    </td>
                                                    <td>
                                                       <img src="@item.ThumbPic" width="64" />
                                                    </td>
                                                    <td>
                                                        @item.Title
                                                    </td>
                                                    <td>
                                                        @item.MenuName

                                                    </td>
                                                    <td>
                                                        @if (item.Active)
                                                    {
                                                            <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                            }
                                                    </td>
                                                    <td>
                                                       @item.View
                                                    </td>
                                                    <td>
                                                        @item.OrderDisplay
                                                    </td>
                                                    <td>@string.Format("{0:dd/MM/yyyy}", item.UpdatedDate)</td>
                                                    <td class="actions">
                                                        <a href="javascript:void(0)" onclick="window.location.href='/admin/news/createoredit/@item.NewsID'" class="on-default font-size-18"><i class="fa fa-pencil"></i></a>
                                                        <a href="javascript:void(0)" onclick="newsController.currentNews=@item.NewsID;" data-toggle="modal" data-target="#delete-modal" class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                                
                                            }
                                        }
                                    </tbody>
                                </table>
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount

                                @Html.PagedListPager(Model, page => Url.Action("index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                            </div>
                        </div>
                        <!-- end: panel body -->
                    </div> <!-- end panel -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
    @Html.Partial("Footer")
</div>
<!-- MODAL -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="newsController.deleteNews()">Xóa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end Modal -->

@section scripts{
    <!-- Editable js -->
    <script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <!-- init -->
    <script src="~/assets/js/controller/newsController.js"></script>
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <!-- file uploads js -->
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
}

